*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-image: url('fondo.jpg');
}

.form-register {
    width: 400px;
    background: chartreuse;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'arial';
    color: darkblue;
    box-shadow: 7px 13px 37px rgb(34, 14, 206); /*  sombra */
}

.form-register h4{
    font-size: 22px;
    margin: 22px;
}

.controls   {
    width: 100%;
    background: blueviolet;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 1px solid crimson;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a{
    color: darkgreen;
    text-decoration: none;
}

.form-register a:hover{
    color: darkgreen;
    text-decoration: underline;
}

.form-register .botons {
    width: 100% ;
    background: rgb(33, 142, 192);
    border: 10px;
    padding: 12px;
    color: rgb(17, 14, 11);
    margin: 16px 0;
    font-size: 16px;
}

